<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

    <title>Compras</title>
    <style>



        * {
            box-sizing: border-box;
        }

        body {
            background: #f1c232;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        .Jumbotron-fluid {
            background-color: #e38c09;
            color: whitesmoke;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
        }

        .pie {
            background-color: #5cbcf7;
            color: whitesmoke;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 10px;
        }

        #btn1, #bt3, #bt2, #btn2, #btn3, #btn4, #btn5, #btn6 {
            background-color: rgb(33, 47, 50 );
            border-color: rgb(33, 47, 50 );
            height: 90px;
            width: 150px;
        }

            #btn1:hover, #btn2:hover, #btn4:hover, #btn5:hover, #btn6:hover, #btn3:hover {
                background-color: lightblue;
                color: blue;
            }

        #menC, #menD {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: darkblue;
        }

        h1 {
            font-size: 70px;
            text-align: left;
        }

        h2 {
            text-align: center;
            color: darkblue;
        }

        h4 {
            text-align: left;
            color: darkblue;
        }

        #car {
            height: 400px;
            width: 1500px;
        }

        #demo {
            text-align: center;
            padding: 15px;
            height: auto;
            width: auto;
        }

        .linea-division {
            width: 100%;
            height: 5px;
            background-color: darkblue;
        }

        p {
            margin: 0;
            color: rgb( 21, 72, 230 );
            display: inline;
            font-size: 30px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        h3 {
            color: #fff;
            text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-top: 0;
            font-size: 50px;
            font-weight: 500
        }

        h5 {
            text-align: left;
            font-size: 15px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgba(0,0,0,0.7);
        }

        #etnosotros {
            text-align: center;
            align-items: center;
            color: blue;
            font-size: 30px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        #nosPad {
            padding: 30px;
        }

        #nos {
            width: 120px;
            height: 100px;
        }

        .navbar-custom {
            background-color: #e37609;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color: #f1c232">
    <div class="container-fluid">
        <div class="Jumbotron-fluid">
            <div class="row">
                <div class="col-6">
                    <img src='@Url.Content("~/Content/images/logop.jpg")' alt="mi logo" width="250" height="150">
                </div>
                <div class="col-6">
                    <h1> La Astillita Feliz</h1>
                    <h4>Artículos de Carpintería</h4>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="navbar navbar-custom navbar-expand-sm bg-black navbar-dark">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Inicio", "Index", "Compras", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Categorias<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Agregar", "Create", "Categorias", null, new { id = "add" })</li>
                                    <li>@Html.ActionLink("Listar", "Index", "Categorias", null, new { id = "list" })</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" role="button" aria-expanded="true" href="#" data-toggle="dropdown">Productos<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Agregar", "Create", "Producto", null, new { id = "add" })</li>
                                    <li>@Html.ActionLink("Listar", "Index", "Producto", null, new { id = "list" })</li>
                                </ul>
                            </li>
                        </ul>
                         <div class="col-6">
                          @Html.Partial("_LoginPartial")
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
