@model Actividad3Prueba.Models.Paqueteria

@{
    ViewBag.Title = "Create";
}

<style>



    * {
        box-sizing: border-box;
    }

    body {
        background: #f1c232;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .Jumbotron-fluid {
        background-color: #e38c09;
        color: whitesmoke;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    .pie {
        background-color: #5cbcf7;
        color: whitesmoke;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
    }

    #btn1, #bt3, #bt2, #btn2, #btn3, #btn4, #btn5, #btn6 {
        background-color: rgb(33, 47, 50 );
        border-color: rgb(33, 47, 50 );
        height: 90px;
        width: 150px;
    }

        #btn1:hover, #btn2:hover, #btn4:hover, #btn5:hover, #btn6:hover, #btn3:hover {
            background-color: lightblue;
            color: blue;
        }

    #menC, #menD {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: darkblue;
    }

    h1 {
        font-size: 70px;
        text-align: left;
    }

    h2 {
        text-align: center;
        color: darkblue;
    }

    h4 {
        font-size: 20px;
        text-align: left;
        color: darkblue;
    }

    #car {
        height: 400px;
        width: 1500px;
    }

    #demo {
        text-align: center;
        padding: 15px;
        height: auto;
        width: auto;
    }

    .linea-division {
        width: 100%;
        height: 5px;
        background-color: darkblue;
    }

    p {
        margin: 0;
        color: rgb( 21, 72, 230 );
        display: inline;
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    h3 {
        color: #fff;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 0;
        font-size: 50px;
        font-weight: 500
    }

    h5 {
        font-size: 40px;
        text-align: center;
        font-family: 'Times New Roman';
    }

    #etnosotros {
        text-align: center;
        align-items: center;
        color: blue;
        font-size: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #nosPad {
        padding: 30px;
    }

    #nos {
        width: 120px;
        height: 100px;
    }

    .navbar-custom {
        background-color: #e37609;
    }

    .box {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    .titulo {
        margin-bottom: 30px;
    }

    .botoniz {
        margin-left: 700px;
    }

    .button1 {
        background-color: #914c07;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
    }

    .button2 {
        background-color: #914c07;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin-left: 10px;
        font-weight: bold;
    }

    .maincont {
        width: 50%;
    }
</style>

<h2>Agregar Paquetería</h2>

<button class="button1">
    @Html.ActionLink("< Volver", "Index")
</button>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            
            <div class="col-md-10">
                No. paquetería
                @Html.EditorFor(model => model.id_paqueteria, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id_paqueteria, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                Nombre:
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                Teléfono:
                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                Correo electrónico:
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Añadir" class="btn btn-default" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
