@model IEnumerable<Actividad3Prueba.Models.Paqueteria>

@{
    ViewBag.Title = "Index";
}
<style>



    * {
        box-sizing: border-box;
    }

    body {
        background: #f1c232;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .Jumbotron-fluid {
        background-color: #e38c09;
        color: whitesmoke;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    .pie {
        background-color: #5cbcf7;
        color: whitesmoke;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
    }

    #btn1, #bt3, #bt2, #btn2, #btn3, #btn4, #btn5, #btn6 {
        background-color: rgb(33, 47, 50 );
        border-color: rgb(33, 47, 50 );
        height: 90px;
        width: 150px;
    }

        #btn1:hover, #btn2:hover, #btn4:hover, #btn5:hover, #btn6:hover, #btn3:hover {
            background-color: lightblue;
            color: blue;
        }

    #menC, #menD {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: darkblue;
    }

    h1 {
        font-size: 70px;
        text-align: left;
    }

    h2 {
        text-align: center;
        color: darkblue;
    }

    h4 {
        text-align: left;
        color: darkblue;
    }

    #car {
        height: 400px;
        width: 1500px;
    }

    #demo {
        text-align: center;
        padding: 15px;
        height: auto;
        width: auto;
    }

    .linea-division {
        width: 100%;
        height: 5px;
        background-color: darkblue;
    }

    p {
        margin: 0;
        color: rgb( 21, 72, 230 );
        display: inline;
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    h3 {
        color: #fff;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 0;
        font-size: 50px;
        font-weight: 500
    }

    h5 {
        text-align: left;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgba(0,0,0,0.7);
    }

    #etnosotros {
        text-align: center;
        align-items: center;
        color: blue;
        font-size: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #nosPad {
        padding: 30px;
    }

    #nos {
        width: 120px;
        height: 100px;
    }

    .navbar-custom {
        background-color: #e37609;
    }

    .element {
        display: flex;
        border: solid;
        margin: 15px;
    }

    .icon {
        width: 15%;
        margin: 15px;
    }

    .mid {
        width: 85%;
        margin: 15px;
    }

    .options {
        width: 15%;
        margin: 15px;
    }

    .button3 {
        background-color: #914c07;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        min-width: 100%;
    }

    .list {
        max-height: 500px;
        overflow-y: scroll;
    }
</style>

<h2>Lista de Paqueterías</h2>

<button>
    @Html.ActionLink("Agregar Paquetería", "Create")
</button>
<table class="table">
    <!-- <tr>
        <th>
             Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
             Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
             Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr> -->

@foreach (var item in Model) {
    <tr>
        <div class="element" style="margin-top:10px; background-color:coral" >
            
            <div class="mid">


                Nombre:  @Html.DisplayFor(modelItem => item.nombre)

                <br />
                Telefono: @Html.DisplayFor(modelItem => item.telefono)
                <br />

                Email: @Html.DisplayFor(modelItem => item.email)
                <br />
            </div>
            <div class="options">
                <div class="">
                    <button class="button3">
                        @Html.ActionLink("Editar Paqueteria", "Edit", new { id = item.id_paqueteria })
                    </button>
                </div>
                <div class="">
                    <button class="button3">
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.id_paqueteria })
                    </button>
                </div>
                @Html.ActionLink("Detalles", "Details", new { id = item.id_paqueteria })
            </div>



            
        </div>
        
    </tr>
}

</table>
