@model IEnumerable<Actividad3Prueba.Models.Orden_Compra>

@{
    ViewBag.Title = "Index";
}

<h2>creación aux</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_envio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_entrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreperona_envio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.callenum_envio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciudad_envio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigop_envio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status_envio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo_rastreo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pago.metodo_pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paqueteria.nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_envio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_entrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreperona_envio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.callenum_envio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ciudad_envio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codigop_envio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status_envio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo_rastreo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clientes.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pago.metodo_pago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paqueteria.nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id_orden }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id_orden }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id_orden })
                </td>
            </tr>
        
    }

</table>
